[submodule "libcork"]
	path = libcork
	url = https://github.com/rockon9sky/libcork.git
    ignore = dirty
[submodule "libipset"]
	path = libipset
	url = https://github.com/rockon9sky/ipset.git
    ignore = dirty
[submodule "libbloom"]
	path = libbloom
	url = https://github.com/rockon9sky/libbloom.git
    ignore = dirty
